header{
  background-color: teal;
  width: 100%;
  position: fixed;
}

body{
  background-color: white;
}

nav ul li{
  display: inline-block;
  text-align: right;
  font-family:'Sacramento', cursive;
  font-size: 1.5em;
  margin-right: 2%;
}

a{
  color: black;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
}

header nav{
  width: 85%;
  display: inline-block;
}

header p{
  width: 10%;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: 1% 0 1% 2%;
  display: inline-block;
}

header p a{
  color: white;
  text-decoration: none;
}

header p a:hover{
  color: gray;
}

#top{
  text-align: center;
}

#top h1{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: black;
  margin: 0 0 0 0;
}

#top p{
  font-family: 'Pacifico', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.3em;
}

#top img{
  border-radius: 30em;
  border: 2px solid black;
  margin: 10% 0 0 0;
}

img {
  width: 25%;
}

.about p {
  display: inline-block;
  width: 30%;
}

.portfolio {
  padding-top: 10vh;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.portfolio article{
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: auto;
  border: 3px solid black;
}

footer {
  text-align: center;
  font-family: 'Sacramento', cursive;
}
