/* header */
header{
  background-color: #96C9BC;
  width: 100%;
  position: fixed;
}

header nav{
  width: 85%;
  display: inline-block;
}

nav ul li{
  display: inline-block;
  text-align: right;
  font-family:'Lato', sans-serif;
  font-size: 1.5em;
  margin-right: 2%;
}

nav ul li a:hover{
  color: white;
}

.here {
  color: white;
}

a{
  color: black;
  text-decoration: none;
}

header p{
  width: 10%;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: 1% 0 1% 2%;
  display: inline-block;
  text-decoration: none;
}

header p a{
  color: white;
}

header p a:hover{
  color: gray;
}

/* body and main content */

body{
  background-color: white;
  min-width: 950px;
}

.home{
  text-align: center;
  height: 91vh;
}

.home h1{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: black;
  margin: 0 0 0 0;
}

.home p{
  font-family: monospace;
  font-size: 1.75em;
}

.home img{
  width: 25%;
  border-radius: 30em;
  border: 2px solid black;
  margin: 10% 0 0 0;
}


/* about page style */
.about {
  padding: 75px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0 20%;
  align-items: center;
}

.about div img {
  width: 100%;
}

/* portfolio page style */
.portfolio {
  padding: 100px 0 50px 0;
  display: grid;
  grid-template: repeat(6, 1fr)/ repeat(3, 1fr);
  align-items: stretch;
  justify-content: center;
  justify-items: stretch;
  grid-gap: 50px 50px;
  margin: 0 10%;
}

.portfolio article {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  height: 20vw;
}

article h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;

}

.bestbites {
  background-image: url("../assets/bestbites.png");
  background-position: center;
}

.unicorn {
  background-image: url("../assets/unilogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* footer style */
.icon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-color: white;
}

.email:hover {
  border-color: coral;
  background-color: coral;
}

.linkedin:hover {
  border-color: lightblue;
  background-color: lightblue;
}

.github:hover {
  border-color: grey;
  background-color: grey;
}

.icon img {
  margin-top: 8px;
  width: 20px;
  height: auto;
}

.copyright {
  display: inline-block;
  float: left;
  width: 300px;
}

.media {
  float: right;
  width: 200px;
}

footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1%;
  background-color: #FEDCD2;
  height: 43px;
}
